* {
    background: black;
}
mega {
    /* color: black; */
    background: darkslategray;
}

p, p * {
    /* color: black; */
}

.round-button-list {
    padding: 5px;
    display:flex;
    overflow-x: scroll;
    /* border: 1px solid #fff6; */
    margin: 5px;
    background: #0005;
}

.round-button {
    border: 1px solid white;
    border-radius: 5px;
    margin: 0.5em;
    padding: 0.5em 1em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vert-list {
    display: flex;
    flex-direction: column;
}

.question {
    margin-bottom: 0;

}

.copy-button {
    /* display:flex; */
    background: goldenrod;
}

.whatsapp {
    background: white;
    color: black;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: 'Cascadia Code', monospace;
    margin: 10px;
    border-radius: 10px;
}

li {
    /* color: black; */
}

.answer {
    font-family: 'Arial', 'Sans Serif';
    color: pink;
}

.pretty, .pretty * {
    background: lightgoldenrodyellow;
    color: #110c;
}
.pretty {
    padding: 20px 40px;
    margin: 10px;
    border-radius: 10px;
}